@model Gopal.Models.Bill.BillTypeScriptModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" id="print-section">
<head>
    <meta charset="utf-8">
    <title>Bill Receipt</title>
    <!--<link rel="stylesheet" href="style.css" media="all" />-->
    <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap' rel='stylesheet' type='text/css'>

    <style>
    /* @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

    @@media print {
      body {
        font-family: Arial, Helvetica, sans-serif !important;
        font-family: 'Poppins', sans-serif !important;
        padding: 0 !important;
      }
    }
    </style>
</head>
<body style="padding: 0 0px;page-break-after:always; background: #fff; font-family: 'Poppins', sans-serif !important;">
    <!--customer-copy-start-->
    <main style="width:100%; margin-left:auto; margin-right:auto">
        <div class="clearfix" style=" page-break-after:before; padding: 0px 0;
  margin-bottom: 10px;
  border: 0px solid #ccc;
  margin-top: 10px;">
            <div id="logo" style=" text-align: center;
    margin-bottom: 10px;">
                <table style="background:transparent; margin-bottom:0; width: 100%;">
                    <tr>
                        <td style="padding:0; width: 50%; background: transparent">
                            <h4 style="font-weight: 700;
            font-size: 2.375rem;
            letter-spacing: 3px;
            color: #1c0f3a;
            margin: 0;
            text-align: left;font-family: 'Poppins', sans-serif !important;">
                                GOPAL
                            </h4>
                            <p style="font-size: 0.875rem;
            line-height: 7px;
            letter-spacing: 0.406rem;
            text-transform: uppercase;
            position: relative;
            left: 3px;
            color: #FF4081;
            font-weight: 600;
            margin: 0 0 10px 0;
            text-align: left;">Computers</p>
                        </td>
                         <td style="padding:0; background: transparent; width: 50%; text-align: right;font-size: 14px;">
              Gangapur Road, Nashik 422002.
            </td>
                    </tr>
                </table>
            </div>
              <div class="address" style=" border-top: 1px solid #C1CED9;
      border-bottom: 1px solid #C1CED9;
      margin: 0 0 0px 0;
      padding: 7px;
      background: #f5f5f5; float: left; width: 100%;">
        <p style="margin:0; font-weight:500; font-size: 14px; float:left">
          <strong>Contact</strong>: 9850985846, 9850968828, 9850968829
         
        </p>
        <h6 class="float-right"><strong>GST No. :</strong> 27CBWPS9849E1ZK</h6>
        <br>
        <p  style="margin:0; font-size: 14px;float: left; width: 100%;"><strong>Please Note:</strong> Composition Taxable Person, Not Eligible to Collect Tax on Supplies</p>
  
      </div>
        </div>


        <table style="background:transparent; margin-bottom:20px; width: 100%;border:1px solid #ccc; border-collapse: collapse;" border="1">
            <thead>
                <tr>
                    <td colspan="3" style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width:30%; padding:5px 0 !important;"><strong>Customer Name:</strong></td>
                                <td style="padding:5px 0 !important;">@Model.customerName</td>
                            </tr>
                            <tr>
                                <td style="width:30%; padding:5px 0 !important;"><strong>Customer Address:</strong></td>
                                <td style="padding:5px 0 !important;">@Model.customerAddress</td>
                            </tr>
                            <tr>
                                <td style="padding:5px 0 !important;"><strong>GST #:</strong></td>
                                <td style="padding:5px 0 !important;">@Model.gstNo</td>
                            </tr>
                        </table>

                    </td>

                    <td colspan="2" style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width:30%; padding:5px 0 !important;"><strong>Bill #:</strong></td>
                                <td style="padding:5px 0 !important;">@Model.billId</td>
                            </tr>
                            <tr>
                                <td style="padding:5px 0 !important;"><strong>Date:</strong></td>
                                <td style="padding:5px 0 !important;">@Model.billDate.Value.ToString("dd/MM/yyyy")</td>
                            </tr>
                        </table>
                    </td>

                </tr>

                <tr>
                    <th style="padding: 5px 5px;
          background: #f5f5f5;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; width: 15%;">Job No.</th>
                    <th style="padding: 5px 5px;
          background: #f5f5f5;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; width: 35%;">Material Name</th>

                    <th style="padding: 5px 5px;
          background: #f5f5f5;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; width: 20%;">Serial No</th>
                    <th style="padding: 5px 5px;
          background: #f5f5f5;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:right; width: 15%;">Advance ₹</th>
                    <th style="padding: 5px 5px;
          background: #f5f5f5;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:right; width: 15%;">Service ₹</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstJobNumbers)
                {
                    <tr>
                        <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left;">
                            @item.searchValue.Substring(0, item.searchValue.IndexOf(' '))
                        </td>
                        <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left;">
                            @item.modelNo, @item.materialType, @item.companyName
                        </td>

                        <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left;">
                            @item.serialNo
                        </td>
                        <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:right;">
                            @if (item.advanceAmount > 0)
                            {
                                <span>@item.advanceAmount /-</span>
                            }
                            else
                            {
                                <span>0 /-</span>
                            }
                        </td>
                        <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:right;">
                            @item.serviceAmount /-
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; border:0"></td>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; border:0"></td>

                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; border:0"></td>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left;">
                        <strong>Paid ₹</strong>
                    </td>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:right;">
                        @Model.paidImmediatlyAmount /-
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; border:0"></td>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; border:0"></td>

                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left; border:0"></td>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:left;">
                        <strong>Outstanding ₹</strong>
                    </td>
                    <td style="padding: 5px 5px;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; text-align:right;">
                        @Model.outstandingAmount /-
                    </td>
                </tr>


            </tfoot>
        </table>
        <div id="notices">
            <div><strong>NOTICE:</strong></div>
            <ul style="  padding: 0 13px;margin: 5px;">
                <li style="font-size: 13px;">A finance charge of 1.5% will be made on unpaid balances after 30 days.</li>
            </ul>
        </div>
        <table style="margin-top:60px; margin-bottom:10px; width: 100%;border-collapse: collapse;">
            <tr>
                <td style="padding:0px !important; text-align:left;font-size: 13px;">
                    <strong>Customer Signature</strong>
                </td>
                <td style="padding:0px !important; text-align:right;font-size: 13px;">
                    <strong>Authorized Signature</strong>
                </td>
            </tr>
        </table>
        <p style="padding: 0;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top; margin:0; text-align:left"><strong>Bank A/C:</strong> @Model.bankAccountNoPrint</p>
        <p style="padding: 0;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top;margin:0; text-align:left"><strong>IFSC Code:</strong> @Model.ifscCodePrint</p>
        <p style="padding: 0;
          background: transparent;
          font-size: 12px;
          line-height: 18px; vertical-align: top;margin:0; text-align:left"><strong>Gpay:</strong> @Model.gPayPrint</p>
    </main>


</body>
</html>

